aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
colorama
CustomModules
discord.py>=2.0.0
frozenlist
idna
jsonschema
jsonschema-specifications
multidict
pillow
propcache
psutil
pyrsistent
python-dotenv
referencing
rpds-py
sentry-sdk
typing_extensions
urllib3
yarl
